<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{ url_for('static', filename='download_style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu|Sarabun|Spectral|Play|Mukta|Roboto|Inter">
<div class="header_pane">
		
    <div class="h2">Predictive Model</div>
</div>
<body>
	<title>Model Summary</title>
	<h2>Summary</h2>
	<p>The Model has been trained with {{dicta['rows']}} rows and {{dicta['column']}} columns of training dataset. <br>
	Out of that {{dicta['pos']}} positive and {{dicta['neg']}} negative patient samples.<br>
    <br>
	Total {{dicta['nrow']}} patients sample sent to the model for prediction and model classified the patient records as follows, <br></p>
	<ul>
		<li>{{dicta['npos']}} patients classified as positive to get disease. </li>
		<li>{{dicta['nneg']}} patients classified as negative to get disease.</li>
	</ul>
	<p>Model has produced  {{dicta['auc']}}% accuracy for the given data sets. </p>
	<p style="font: Italic 18px ubuntu;">You can download the Model output by clicking the download button below…</p>
	<h2>Download Result File</h2>
	<a href="/return-files/{{dicta['value']}}" target="blank"><button class='btn btn-default'>Download</button></a>
</body>
  
</html>